<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.binglian.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="com.binglian.pojo.Book" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="book_title" property="bookTitle" jdbcType="VARCHAR" />
    <result column="book_img" property="bookImg" jdbcType="VARCHAR" />
    <result column="book_desc" property="bookDesc" jdbcType="VARCHAR" />
    <result column="book_author" property="bookAuthor" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <delete id="deleteById">
  	delete from book where id=#{id}
  </delete>
  
  <select id="findById" parameterType="int" resultMap="BaseResultMap">
  	select * from book where id=#{id}
  </select>

  <update id="updateById" parameterType="com.binglian.pojo.Book">
        update book set 
        book_title=#{bookTitle},
        book_img=#{bookImg},
        book_desc=#{bookDesc},
        book_author=#{bookAuthor},
        update_time=#{updateTime}
        where id=#{id}
    </update>
</mapper>